// Navigation Styles here

.navcont{
    display: flex;
    width: 100%;
    .toppad();
    

    .funbustop {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }//funbusstop close

    .topnav{
        width: 50%;
        display: flex;
        justify-content: flex-end;
     }//topnav close

     nav{
         font-size: 1.8rem;
         width: 80%;
         display: flex;
         justify-content: space-around;
         align-items: center;
     }



}//closing nav cont